<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.FarmPe.India">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permisssion.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <application
        android:name=".Activity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/nandi_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/nandi_icon"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.FarmPe.India.Activity.LoginActivity_new"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.FarmPe.India.Activity.ForgotPasswordNew"
            android:screenOrientation="portrait"/>

        <activity android:name="com.FarmPe.India.Activity.SelectLanguageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.FarmPe.India.Activity.EnterOTP"
            android:screenOrientation="portrait"/>
        <activity android:name="com.FarmPe.India.Activity.Thank_U_New"
            android:screenOrientation="portrait"/>

        <activity android:name="com.FarmPe.India.Activity.LandingPageActivity"
            android:screenOrientation="portrait"
            android:resizeableActivity="false"
            />

        <activity android:name="com.FarmPe.India.Activity.ResetPasswordNew"
            android:screenOrientation="portrait"/>
        <activity android:name="com.FarmPe.India.Activity.FarmerUser"
            android:screenOrientation="portrait"/>

        <activity android:name="com.FarmPe.India.Activity.FarmerActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.FarmPe.India.Activity.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.FarmPe.India.Activity.FarmerActivityNext"
            android:screenOrientation="portrait"/>




        <!-- Firebase Notifications -->
        <service android:name="com.FarmPe.India.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />

            </intent-filter>
        </service>
        <service android:name="com.FarmPe.India.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->


    </application>

</manifest>